@font-face {
  font-family: Gotham;
  src: local(Gotham-Bold),
    url(/path/to/Gotham-Bold.woff2) format("woff2"),
    url(/path/to/Gotham-Bold.woff) format("woff"),
    url(/path/to/Gotham-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: GothamPro;
  src: local(GothamPro-Medium),
    url(/path/to/GothamPro-Medium.woff2) format("woff2"),
    url(/path/to/GothamPro-Medium.woff) format("woff"),
    url(/path/to/GothamPro-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}