.menu {
  position: relative;
  display: flex;
  align-items: center;
  height: 73px;
  font-size: 14px;
}
.menu__nav ul {
  display: flex;
  justify-content: space-between;
  width: 555px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__nav a {
  color: #000;
  text-decoration: none;
}
.menu__acc {
  margin: 0 3px 0 56px;
}
.menu__btn {
  display: none;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.5s ease-out;
}
.menu__btn-line {
  width: 28px;
  height: 3px;
  background-color: #000;
  margin-bottom: 5px;
  transition: 0.5s ease-out;
}
.menu__btn--close {
  transform: rotate(180deg);
}
.menu__btn--close > .menu__btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu__btn--close > .menu__btn-line:nth-child(2) {
  opacity: 0;
}
.menu__btn--close > .menu__btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.main {
  padding: 82px 0;
}
.main__content {
  max-width: 545px;
  font-size: 20px;
  margin-bottom: 40px;
}
.main__content h1 {
  margin: 45px 0;
  font-family: Gotham, "Roboto", sans-serif;
  color: #333;
}
.main__content p {
  margin-bottom: 55px;
  width: 444px;
  color: #341139;
}
.main__form {
  padding: 0 51px;
}

.trustpilot {
  width: 145px;
  height: 71px;
  object-fit: contain;
}

.box {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 3px;
}

.icon, .arrow {
  display: inline-flex;
  width: 26px;
  height: 26px;
  object-fit: contain;
}
.icon--sm {
  width: 14px;
  height: 14px;
  margin-right: 6px;
}

.convert {
  width: 444px;
  height: 495px;
  box-sizing: border-box;
  padding: 40px 23px 28px 21px;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-size: 14px;
  color: #212121;
}
.convert h2 {
  font-family: Gotham, "Roboto", sans-serif;
  font-size: 18px;
  margin: 0;
}
.convert__buttons-group {
  display: flex;
  justify-content: space-between;
  margin: 33px 0;
}
.convert__pair {
  height: 42px;
  width: 126px;
  cursor: pointer;
}
.convert__input {
  position: relative;
  display: flex;
  height: 72px;
  justify-content: space-between;
  padding: 11px 11px 8px;
}
.convert__input label {
  display: inline-flex;
  flex-flow: column;
  color: #a3a3a3;
  line-height: 19px;
}
.convert__input .input {
  height: 28px;
  width: 130px;
  margin-top: 6px;
  border: none;
  font-family: inherit;
  font-size: 21px;
  color: #212121;
}
.convert__commis {
  font-size: 12px;
  line-height: 16px;
  color: #a3a3a3;
  padding: 8px 11px 28px;
  margin: 0;
}
.convert__commis span {
  color: #212121;
  font-family: Gotham, "Roboto", sans-serif;
  font-weight: 500;
}
.convert__agrees {
  display: block;
  padding: 15px 0 26px;
}
.convert .select {
  background-color: #fff;
  display: flex;
  align-items: center;
  text-align: right;
}
.convert .select span {
  margin-left: 9px;
}
.convert .select__list {
  position: absolute;
  display: none;
  top: 70px;
  left: -1px;
  height: 169px;
  width: 400px;
  box-sizing: border-box;
  margin: 0;
  padding: 0 12px 0 13px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #f2f2f2;
  z-index: 2;
  overflow-x: hidden;
}
.convert .select__list:hover {
  display: block;
}
.convert .select__list li {
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid #f2f2f2;
}
.convert__btn {
  margin-left: calc(100% - 240px);
}

div.select:focus + ul.select__list {
  display: block;
}

.arrow {
  background: url(./img/icons/arrow-right.svg) no-repeat center;
  margin: 0 3px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

*:focus {
  outline: none;
}

#root {
  overflow: hidden;
  background: url(./img/bg-crypto@3x.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100% 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  min-width: 600px;
  max-width: 1156px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  display: block;
  padding: 4px;
  width: 193px;
  height: 35px;
  object-fit: contain;
}

.btn {
  width: 240px;
  height: 42px;
  box-sizing: border-box;
  background-color: #331139;
  border: 2px solid #331139;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  transition: 0.5s ease;
}
.btn:hover {
  background-color: #fff;
  color: #331139;
}
.btn--sm {
  width: 162px;
  height: 37px;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

.header {
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1199px) {
  .menu__btn {
    display: block;
  }
  .menu__nav {
    position: absolute;
    visibility: hidden;
    top: 75px;
    right: 0;
  }
  .menu__nav--show {
    visibility: visible;
  }

  .main {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
